@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

ul,
li {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

a {
  transition: all 0.3s ease;
}

button {
  margin-top: 1rem;
  background-color: #ce5b5b;
  border: 0;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: #b64747;
  }
}

.container {
  width: 1000px;
  max-width: 100%;
  padding: 0 10px;
}

#site-header {
  background: #000;
  color: #fff;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-wrapper {
    }

    .nav-wrapper {
      ul {
        display: flex;
        align-items: center;

        li {
          margin-left: 1rem;

          a {
            color: #fff;
            text-decoration: none;

            &.active {
              color: #ce5b5b;
            }
          }
        }
      }
    }
  }
}

#site-content {
  padding: 2rem 0;
}

.form-auth {
  label {
    display: block;

    &:not(:first-of-type) {
      margin-top: 1rem;
    }
  }

  input {
    display: block;
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
  }

  .form-error-message {
    font-size: 80%;
    color: #ce5b5b;
  }
}
